<mat-card class="heznek-card">
<mat-card-title class="title">
        שכחתי סיסמה
</mat-card-title>
    <mat-card-content>
        <form novalidate [formGroup]="forgotPasswordForm">
            <mat-form-field class="field-full-width heznek-input">
                <input matInput placeholder="דואר אלקטרוני" formControlName="email">
                <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                   דואר אלקטרוני
                    <strong>הכרחי</strong>
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email') && !forgotPasswordForm.controls['email'].hasError('required')">
                    הכנס כתובת דוא"ל תקינה
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="isError" class="heznek-error-block">
                דואר אלקטרוני לא נכון
            </mat-error>
            <div class="button-container">
                <button mat-button [disabled]="isLoading" class="heznek-button secondary" (click)="login()">התחבר</button>
                <button mat-button [disabled]="isLoading" class="heznek-button" (click)="forgotPassword()">
                  <span *ngIf="!isLoading">שכחתי סיסמה</span>
                  <mat-spinner *ngIf="isLoading" [diameter]="20" class="spinner"></mat-spinner>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>