<div class="heznek-page-wrapper">
    <div class="heznek-section-title">רשימת מלגות</div>

    <div class="d-flex justify-center">
        <mat-spinner *ngIf="isLoading" [diameter]="20" class="spinner"></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 content-table">

            <ng-container matColumnDef="stundentsCount">
                <th mat-header-cell *matHeaderCellDef> מספר מלגאים </th>
                <td mat-cell *matCellDef="let element"> {{element.stundentsCount}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> שם המלגה</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="budget">
                <th mat-header-cell *matHeaderCellDef> תקציב מלגה </th>
                <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
            </ng-container>
            <ng-container matColumnDef="admission">
                <th mat-header-cell *matHeaderCellDef> תנאי קבלה </th>
                <td mat-cell *matCellDef="let element"> {{element.admission}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> סטטוס המלגה </th>
                <td mat-cell *matCellDef="let element">
                    {{statuses[element.status].value}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-buttons-container">
                            <svg class="action-button" (click)="editScholarship(element)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#000" fill-rule="nonzero" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                                />
                            </svg>
                            <svg class="action-button" (click)="deleteScholarship(element.id)" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path fill="#000" fill-rule="nonzero" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                            </svg>
                        </div>
                    </td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="content-header">
            <button class="heznek-button" mat-button (click)="create()">
                <div class="button-content">
                    הוספת מלגה
                </div>
            </button>
        </div>
    </div>
</div>