.ig-csv {
    height: 30px;
    cursor: pointer;
    position: relative;
    .lds-css {
        position: relative;
        left: inherit;
    }
    img {
        max-width: 100%;
        width: 30px;
    }
}