<mat-card class="heznek-card">
    <mat-card-title class="title">
            קביעת סיסמה חדשה
    </mat-card-title>
    <mat-card-content>
        <form novalidate [formGroup]="newPasswordForm">
            <mat-form-field class="field-full-width heznek-input">
                <input matInput type="password" placeholder="סיסמה" formControlName="password">
                <mat-error *ngIf="newPasswordForm.controls['password'].hasError('required')">
                    סיסמה
                    <strong>הכרחית</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width heznek-input">
                <input matInput type="password" placeholder="אימות סיסמה" formControlName="passwordConfirmation">
                <mat-error *ngIf="newPasswordForm.controls['passwordConfirmation'].hasError('required')">
                    אימות סיסמה
                    <strong>הכרחי</strong>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="isError" class="heznek-error-block">
                הפעולה נכשלה
            </mat-error>
            <div class="button-container">
                <button mat-button class="heznek-button secondary" (click)="login()">התחבר</button>
                <button mat-button class="heznek-button" (click)="newPassword()">קבע כסיסמה חדשה</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>