.button-container {
    width: max-content;
    margin: 50px auto 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.heznek-wrapper {
    max-width: 1275px;
}

.heznek-input .mat-form-field-flex .mat-form-field-infix {
    width: 140px;
}
