  <mat-card class="heznek-card">
    <mat-card-title class="title">
      התחבר
    </mat-card-title>
      <mat-card-content>
          <form novalidate [formGroup]="loginForm">
              <mat-form-field class="field-full-width heznek-input">
                  <input matInput placeholder="תעודת זהות" formControlName="id">
                  <mat-error *ngIf="loginForm.controls['id'].hasError('required')">
                      תעודת זהות
                      <strong>הכרחית</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="field-full-width heznek-input">
                  <input matInput type="password" placeholder="סיסמה" formControlName="password">
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                      סיסמה
                      <strong>הכרחית</strong>
                  </mat-error>
              </mat-form-field>
              <mat-error *ngIf="isError" class="heznek-error-block">
                  האימות נכשל
              </mat-error>
              <div class="button-container">
                  <button mat-button [disabled]="isLoading" class="heznek-button secondary" (click)="forgotPassword()">שכחתי סיסמה</button>
                  <button mat-button [disabled]="isLoading" class="heznek-button secondary" (click)="register()">הירשם</button>
                  <button mat-button [disabled]="isLoading" class="heznek-button" (click)="login()">
                      <span *ngIf="!isLoading">התחבר</span>
                      <mat-spinner *ngIf="isLoading" [diameter]="20" class="spinner"></mat-spinner>
                  </button>
              </div>
          </form>
      </mat-card-content>
  </mat-card>